.chat-app {
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: stretch;
}
.chat-users {
    width: 200px;
    height: 100%;
}
.chat-window {
    width: 100%;
    height: 100%;
}
.chat-box{
    min-height: 350px;
    overflow-y: auto;
}
.chat-input-segment {
    width: 100%;
    position: relative;
}
